*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.maincontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 30%;
    height: 80%;

}

.imagecontent{
    width: 80%;
    height: 80%;
    margin-left: 3rem;

}
.imagecontent img{
    width:90%;
    height: 100%;
}

.price{
    width: 100%;
    height: 20%;
}
label{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    margin-left: 1.5rem;
    font-size: 16px;
    color: black;
}
p{
    font-family: 'Arimo', sans-serif;
    margin-top: 5px;
    margin-left: 1.7rem;
    font-size: 17px;
    font-weight: 400;
    color: gray;

}